extends layout

block content
  nav(class="sw-nav")
    div(class="nav-el align-left")
      img(src="/images/sw.webp", alt="Star Wars", height="60", width="70")
    div(class="nav-el align-right")
      div(class="right-button") PERSONAJES
      div(class="right-button") PERSES
      div(class="right-button") PERAJES
      div(class="right-button") PERSONAJES
    
  section
    div(id="hello")

  script(type="module",src="javascripts/application.js")  

