extends layout

block content
  nav(class="sw-nav")
    div(class="nav-el")
      img(src="/images/sw.webp", alt="Star Wars", height="60", width="70")
    h3(class="nav-el") STAR WARS APP
    input(class="nav-el")

  section
  div(id="hello")

  script(type="module",src="javascripts/application.js")


