/* Navigator */

nav.nav {
  padding: 10px;
  display: grid;

}

nav.sw-nav {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.nav-el {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  color: #ffe81f;
}

.align-right {
  justify-content: flex-end;
}

.align-left {
  justify-content: flex-start;
}

.nav-el .left {
  align-items: start;
  flex-grow: 1;
}

.nav-el .right-button {
  align-items: flex-end;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.nav-el .right-button:hover {
  background-color: azure;
  cursor: pointer;
}