@import './nav.css';
@import './card.css';

*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url('../images/star-wars-backgrounds-25.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.wrappable {
  width: 250px;
  word-wrap: break-word;
}

/* Text Colors */
.banana-yellow {
  color: #ffe81f;
}

/* Link Colors */
a:link {
  color: #ffe81f;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffe81f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ffe81f;
  background-color: transparent;
  text-decoration: underline;
}