* {
  padding: 0;
  margin: 0;
}

.sw-nav {
  position: absolute;
  height: 52px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: black;
  display: flex;
  align-items: center;
}

.sw-nav .logo {
  margin-left: 33px;
  color: #F2F2F2;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
}

section {
  display: flex;
  flex-direction: column;
}

.info-container {
  position: absolute;
  margin-top: 52px;
  left: 350px;
  height: calc(100% - 52px);
  width: calc(100% - 350px);
}

.info-table {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.info-table .header {
  height: 60px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  padding-left: 16px;
  padding-bottom: 6px;
  padding-top: 32px;
}

.info-table .detail {
  height: 49px;
  display: flex;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
}

.detail .property {
  color: #828282;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  flex-grow: 1;
}

.detail .value {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0125em;
  color: #333333;
  text-align: right;
  flex-grow: 1;
}

.side-nav {
  position: absolute;
  width: 350px;
  height: calc(100% - 52px);
  margin-left: 0px;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.15);
}

.side-nav .elem {
  height: 69px;
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.elem .info {
  grid-row: auto;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  align-items: center;
  justify-items: start;
  align-content: center;
  margin-left: 15px;
}

.elem .button-container {
  grid-row: auto;
  display: grid;
  align-content: center;
  height: 100%;
}

.elem .button-container:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button-container .center {
  grid-row: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info .name {
  grid-row: auto;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
  letter-spacing: 0.0125em;
}

.info .procedence {
  grid-row: auto;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #828282;
  letter-spacing: 0.0125em;
}

