*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url('../images/star-wars-backgrounds-25.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  display: flex;
  align-items: flex-start;
  height: 200px;
}

.card-item-info {
  flex-grow: 2;
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-template-rows: 50px 50px 50px 50px;
}

.card-item-info .title{
  grid-row-start: auto;
  color: aliceblue;
  font-size: 18px;
  font-family: DIN, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.card-item-info .director{
  grid-row-start: auto;
  color: aliceblue;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

.card-item-info .producer{
  grid-row-start: auto;
  color: aliceblue;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

.card-item-img {
  flex-grow: 1;
}

.wrappable {
  width: 250px;
  word-wrap: break-word;
}

nav.sw-nav {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.nav-el {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  color: #ffe81f;
}

.align-right {
  justify-content: flex-end;
}

.align-left {
  justify-content: flex-start;
}

.nav-el .left {
  align-items: start;
  flex-grow: 1;
}

.nav-el .right-button {
  align-items: flex-end;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.nav-el .right-button:hover {
  background-color: azure;
  cursor: pointer;
}

/* Text Colors */
.banana-yellow {
  color: #ffe81f;
}

/* Link Colors */
a:link {
  color: #ffe81f;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffe81f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ffe81f;
  background-color: transparent;
  text-decoration: underline;
}